div {
  height: 100%;
  width: 100%;
}

.selected {
  box-shadow: 0 0 10px 5px #f0f;
}

.cube {
  transform: rotate(0);
  transition: transform 200ms;

}

.cube div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.invert {
  transform: rotate(180deg);
  transition: transform 200ms;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 200ms;
}

.invert.rotate {
  transform: rotate(270deg);
  transition: transform 200ms;
}

