.dragme {
  box-sizing: border-box;
  border: 0px transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  width:20px;
  height:20px;

  border-radius: 15%;
  background: #fff;
  position: relative;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2px;

  @media (min-width: 768px)  {
    width: 30px;
    height: 30px;
  }


  @media (min-width: 992px) {
    height: 40px;
    width: 40px;
  }


}

.dragme.paren {

  border: 1px #fff solid;
  width:10px;
  background: transparent;
  color: #fff;

  @media (min-width: 768px)  {
    width: 15px;
  }


  @media (min-width: 992px) {
    width: 20px;
  }

}





.yellow .col {
  background: rgb(255, 204, 0);
  color: white;
  margin: 4px;

}

.brown {
  background: #64000e;

  color: white;
  padding:2px;
  margin-left: -11px;
  margin-right: -11px;
  background-image: -webkit-linear-gradient(to right, #4f2023, #4f2814);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4f2023, #4f2814); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.teal {
  background: rgb(34, 183, 191);
  color: white;
  padding:2px;
  margin-left: -11px;
  margin-right: -11px;
  background-image: -webkit-linear-gradient(to right, #00f3ff, #08b5b1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00f3ff, #08b5b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.bottom-border {
  border-bottom: 5px #fff solid;
}

.blank {
  display: inline-block;
  width: 80%;
}

h3.float-left, h3.float-right {
  display: inline-block;
}

.float-right {
  float: right;
}

.goalList {
  display:inline-block;
  height: 22px;
  min-width: 22px;
  border: #b0b0b0 dotted 1px;

  border-radius: 2px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height:1;
  @media (min-width: 768px)  {
    min-width: 33px;
    height: 33px;
  }


@media (min-width: 992px) {
    height: 44px;
    width: 44px;
  }

}

.goalListEquations {
  display:inline-block;
  height: 22px;
  width: 100%;
  border: #b0b0b0 dotted 1px;
  //background-color: rgba(135, 238, 0, 0.2);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height:1;
  opacity: 1.0;
  @media (min-width: 768px)  {

    height: 33px;
  }


@media (min-width: 992px) {
    height: 44px;

  }

}

.noGoalList {
  height: 0px;
  width: 0px;

  opacity: 0;
}

.resourceContainer {
  display:block;
  min-height: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 1.0;
  @media (min-width: 768px)  {
    min-height: 33px;
  }


@media (min-width: 992px) {
    min-height: 44px;
  }

}

.noResourceContainer {
  height: 0px;
  width: 0px;

  opacity: 0;
}

.goalListSpacer {
  display:inline-block;
  width:11px;
  @media (min-width: 768px)  {
    width: 16px;

  }


@media (min-width: 992px) {
    width: 22px;
  }

}

.goalListRow {
  display:block;
  margin:0;
  padding:0;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.numberList {
  border: #b0b0b0 dotted 1px;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  min-height: 22px;
  min-width: 22px;

  line-height:1;
  @media (min-width: 768px)  {
    min-width: 33px;
    min-height: 33px;
  }


@media (min-width: 992px) {
    min-height: 44px;
    min-width: 44px;
  }
}

.solutionList {
  border: #b0b0b0 dotted 1px;

  border-radius: 2px;
  margin: 0;
  padding: 0;
  min-height: 22px;
  min-width: 22px;
  opacity: 1.0;

  transition: opacity 250ms;

  line-height:1;
  @media (min-width: 768px)  {
    min-width: 33px;
    min-height: 33px;
  }


@media (min-width: 992px) {
    min-height: 44px;
    min-width: 44px;
  }
}

.noSolutionList {
  height: 0px;
  width: 0px;

  opacity: 0;
}




.h-100 {
  height: 100%;
  font-size: 14pt;
  font-weight: bold;
}

.gameboard {
  background: white;
}

.challenge-button {
  margin:2px;
}


.selected {
  box-shadow: 0 0 10px 5px #f0f;
}


.floating-button {
  z-index: 999;
  position: absolute;
  top:50%;
  left:50%;
  height:24px;
  width:24px;

}

.small-icon {
  font-size:16px;
  line-height:24px;
  position: absolute;
  top: 0px;
  left: 0px;
}


h4.nomobile {
  display: none;
  @media (min-width: 576px)  {
    display: block;
  }
}
h4.onlymobile {
  display: block;
  @media (min-width: 576px)  {
    display: none;
  }
}
